<div class="back">
  <app-header></app-header>
  <div class="container">
    <h1>Welcome to Krs Quiz app</h1>
    <div class="input-div">
      <p>Select a category:</p>
      <select name="difficulty" [(ngModel)]="selectedCategory">
        <option value="general">General Knowledge</option>
        <option value="nature">Science & Nature</option>
        <option value="mythology">Mythology</option>
        <option value="sports">Sports</option>
        <option value="geography">Geography</option>
        <option value="history">History</option>
        <option value="animals">Animals</option>
        <option value="anime">Anime & Manga</option>
      </select>
    </div>

    <div class="input-div">
      <p>Select a difficulty:</p>
      <select name="difficulty" [(ngModel)]="selectedDifficulty">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </div>

    <div class="selected-div" *ngIf="selectedCategory && selectedDifficulty">
      <p class="select-cat">{{ categoryMap[selectedCategory] }}</p>
      <p class="select-dif" [style.background-color]="difficultyColorMap[selectedDifficulty]">{{ difficultyMap[selectedDifficulty]}}</p>
    </div>


    <button id="playBtn" (click)="startQuiz()" [disabled]="!selectedCategory || !selectedDifficulty">Let's play</button>
  </div>
</div>
